@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
  background-color: rgb(233, 212, 255);
  font-family: 'Pacifico', cursive;
}

.main {
  text-align: center;
}

.cookie-image {
  cursor: pointer;
  height: 400px;
}

.fortune-component {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.fortune-component img {
  margin: 40px;
}

.generate-btn {
  outline: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 30px;
  cursor: pointer;
  background-color: rgb(255, 169, 183);
}